body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
h1 {
    color: #333;
}
header, footer {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}
main {
    padding: 20px;
}
